// Colors
@paper: rgb(252, 247, 232);
@ink: rgb(31, 23, 47);
@bright-ink: rgb(69, 42, 132);

// Responsive
@desktopLayout: ~"(min-width: 1048px)";
@tabletLayout: ~"(min-width: 774px) and (max-width: 1047px)";
@mobileLayout: ~"(max-width: 773px)";
