// Colors
@blue: rgb(0, 102, 204);

@wob-text: white;
@wob-link-text: desaturate(@blue, 100%);
@wob-highlighted-text: @blue*2;

@bow-text: black;
@bow-link-text: desaturate(@blue, 100%);
@bow-highlighted-text: @blue;

// Responsive
@mobileMaxWidth: 100%;
@tabletMaxWidth: 773px;
@desktopMaxWidth: 773px;

@mobileLayout: ~"(max-width: 773px)";
@tabletLayout: ~"(min-width: 774px) and (max-width: 1047px)";
@desktopLayout: ~"(min-width: 1048px)";
