// constants

$glow: #00AEFF;
$steel-base: $glow;
$light-steel: desaturate(lighten($steel-base, 40%), 90%);
$steel:       desaturate(lighten($steel-base, 20%), 60%);
$dark-steel:  desaturate( darken($steel-base, 20%), 60%);

$light-steel-alpha: rgba($light-steel, 0);

$edge-radius: 3px;

$break-small: 773px;
$break-large: 1048px;

$padding: 10px;


// coarse layout

@viewport
{
    width: device-width;
    user-zoom: fixed;
}

body
{
    margin: 0px;

    background-image: url('../img/background.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;

    text-rendering: optimizeLegibility; // use kerning
    word-wrap: break-word;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    color: white;
}

.limited-width
{
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $break-small) { width: $break-small; }
}

.header a,
.footer a
{
    color: white;
    text-decoration: none;
}

.header a:hover,
.footer a:hover
{
    color: orange;
}

.header
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: $padding;
    padding-bottom: 20px;
    color: white;
}

.title
{
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;

    text-align: left;
    font-size: 2em;

    display: inline-block;
}

.title-logo
{
    display: inline-block;
}

.title-quote
{
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: white;

    padding-left: 5px;

    display: inline-block;
    font-size: 0.4em;
}

.menu
{
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;

    text-align: right;
    font-size: 2em;
}

.menu a
{
    color: white;
    text-decoration: none;
}

.menu a:hover
{
    color: orange;
}

.box
{
    border-radius: $edge-radius;
    padding: $padding;
    background-color: $light-steel;
    color: black;
}

.footer
{
    padding: 20px;
    font-size: 0.7em;
}



// entry index

.entry-index
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.entry-index a,
.entry-index a:hover
{
    color: black;
    text-decoration: none;
}

.entry-preview
{
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 500px;
    margin: 5px;

    display: flex;
    overflow: hidden;

    background-color: darken(grayscale($light-steel), 20%);
}

.entry-preview:hover
{
    background-color: orange;
}

.entry-preview-image
{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;

    //background-image: url('entry-image.png');
    background-size: cover;
    background-position: center;
}

.entry-preview-text
{
    margin-left: $padding;
    min-width: 200px;
}

.entry-preview-title
{
    font-size: 1.6em;
}

.entry-preview-description
{
}


// entry

.entry
{
    text-align: left;
}

.entry a
{
    text-decoration: none;
    color: black;
}

.entry a:hover
{
    color: orange;
}

.entry-header
{
    display: flex;
    margin-bottom: $padding;
}

.entry-image
{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;

    //background-image: url('entry-image.png');
    background-size: cover;
    background-position: center;
}

.entry-text
{
    margin-left: $padding;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entry-title
{
    flex-grow: 0;
    flex-shrink: 0;

    text-align: left;
    font-size: 2em;
    text-decoration: none;
}

.entry-meta
{
    flex-grow: 0;
    flex-shrink: 0;

    text-align: right;
}

.entry-content
{
}
