## -*- coding: utf-8 -*-
<%namespace name="index_helper" file="index_helper.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="content">

<div class="limited-width entry-index">
% for post in posts:
    <a class="box entry-preview" href="${post.permalink()}">
        <div class="entry-preview-image" style="background-image: url('${post_helper.post_image_url(post)}')"></div>
        <div class="entry-preview-text">
            <div class="entry-preview-title">${post.title()}</div>
            <div class="entry-preview-description">
                ${post.description()}
            </div>
        </div>
    </a>
% endfor
</div>
${index_helper.html_pager()}
${comments.comment_link_script()}
${index_helper.mathjax_script(posts)}
</%block>
