## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="content">

<div class="entry-index">
% for post in posts:
    <a class="entry-preview" href="${post.permalink()}">
        <img src="posts/${post.meta('slug')}.png"/>
        <div class="entry-preview-text">
            <div class="entry-title">${post.title()}</div>
            <div class="entry-description">
                ${post.description()}
            </div>
        </div>
    </a>
% endfor
</div>
${helper.html_pager()}
${comments.comment_link_script()}
${helper.mathjax_script(posts)}
</%block>
